In [1]:
import gempy as gp
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import os
from geometron.geometries import gdf_to_points_gdf
# Setting options
np.random.seed(1515)
pd.set_option('precision', 2)

In [2]:
gdf = gpd.read_file('/home/gfa/Geospatial_data_management/GSDMA_2021/Parties exploitées - Caillette.gpkg', layer = 'Parties exploitées - Caillette')

In [3]:
gdf.head()

   Année    Couche                                            geometry
0   1941  Caillette  POLYGON Z ((154613.672 123991.170 -663.000, 15...
1   1942  Caillette  POLYGON Z ((154816.546 123955.316 -671.100, 15...
2   1939  Caillette  POLYGON Z ((154912.246 123824.192 -686.800, 15...
3   1942  Caillette  POLYGON Z ((154868.618 123744.141 -698.900, 15...
4   1938  Caillette  POLYGON Z ((154949.664 123925.004 -679.300, 15...

In [4]:
gdf.rename({'Couche ': 'layer'}, axis=1, inplace=True)

In [5]:
gdf_points = gdf_to_points_gdf(gdf, columns=['layer'])
gdf_points.tail()

                                      geometry     layer
3114     POINT Z (156628.809 125017.246 0.000)  8 Paumes
3115     POINT Z (156554.900 125051.690 0.000)  8 Paumes
3116     POINT Z (156584.499 125108.920 0.000)  8 Paumes
3117     POINT Z (156642.586 125080.961 0.000)  8 Paumes
3118  POINT Z (156664.522 125117.617 -210.000)  8 Paumes

In [20]:
gdf_points = gdf_points[938:948]

In [21]:
gdf_points

                                     geometry      layer
938  POINT Z (154154.576 123712.929 -715.200)  Caillette
939  POINT Z (154110.912 123704.061 -714.400)  Caillette
940  POINT Z (154095.963 123701.063 -714.100)  Caillette
941  POINT Z (154082.619 123694.138 -713.800)  Caillette
942  POINT Z (154055.509 123696.460 -713.300)  Caillette
943  POINT Z (153706.499 124073.888 -726.700)  10 Paumes
944  POINT Z (153737.796 124071.082 -734.700)  10 Paumes
945  POINT Z (153762.250 124068.352 -740.100)  10 Paumes
946  POINT Z (153820.211 124076.311 -744.100)  10 Paumes
947  POINT Z (153875.732 124083.155 -746.500)  10 Paumes

In [22]:
gdf.to_csv('Parties exploitées - Caillette.csv')

In [23]:
geo_model = gp.create_model('Parties exploitées - Caillette')
geo_model = gp.init_data(geo_model, extent=[gdf_points.bounds.minx.min(), gdf_points.bounds.maxx.max(), gdf_points.bounds.miny.min(),  gdf_points.bounds.maxy.max(), gdf_points.geometry.z.min(), gdf_points.geometry.z.max()], resolution=[100, 100, 10])

Active grids: ['regular']

In [24]:
gp.set_interpolator(geo_model, theano_optimizer='fast_compile', verbose=[])

Setting kriging parameters to their default values.
Compiling theano function...
Level of Optimization:  fast_compile
Device:  cpu
Precision:  float64
Number of faults:  0
Compilation Done!
Kriging values:
                   values
range             594.31
$C_o$            8409.75
drift equations      [3]

In [25]:
geo_model.add_surfaces(['8 Paumes', '8 Paumes-sup', 'Caillette', '10 Paumes', 'Veinette-sup', 
                            '10 Paumes-Veiniat', 'Veinette-Toit', 'Veinette-ss-10-Paumes-inf', 'Veinette-Int',
                            'Veinette-ss-10-Paumes-sup','basement'])

                      surface          series  order_surfaces    color  id
0                    8 Paumes  Default series               1  #015482   1
1                8 Paumes-sup  Default series               2  #9f0052   2
2                   Caillette  Default series               3  #ffbe00   3
3                   10 Paumes  Default series               4  #728f02   4
4                Veinette-sup  Default series               5  #443988   5
5           10 Paumes-Veiniat  Default series               6  #ff3f20   6
6               Veinette-Toit  Default series               7  #5DA629   7
7   Veinette-ss-10-Paumes-inf  Default series               8  #4878d0   8
8                Veinette-Int  Default series               9  #ee854a   9
9   Veinette-ss-10-Paumes-sup  Default series              10  #6acc64  10
10                   basement  Default series              11  #d65f5f  11

In [26]:
for idx, row in gdf_points.iterrows():
    geo_model.add_surface_points(row.geometry.x, row.geometry.y,row.geometry.z, surface=row.layer)

In [27]:
geo_model.surfaces

                      surface          series  order_surfaces    color  id
0                    8 Paumes  Default series               1  #015482   1
1                8 Paumes-sup  Default series               2  #9f0052   2
2                   Caillette  Default series               3  #ffbe00   3
3                   10 Paumes  Default series               4  #728f02   4
4                Veinette-sup  Default series               5  #443988   5
5           10 Paumes-Veiniat  Default series               6  #ff3f20   6
6               Veinette-Toit  Default series               7  #5DA629   7
7   Veinette-ss-10-Paumes-inf  Default series               8  #4878d0   8
8                Veinette-Int  Default series               9  #ee854a   9
9   Veinette-ss-10-Paumes-sup  Default series              10  #6acc64  10
10                   basement  Default series              11  #d65f5f  11

In [28]:
geo_model.surface_points

           X          Y      Z    smooth    surface
0  154154.58  123712.93 -715.2  1.00e-06  Caillette
1  154110.91  123704.06 -714.4  1.00e-06  Caillette
2  154095.96  123701.06 -714.1  1.00e-06  Caillette
3  154082.62  123694.14 -713.8  1.00e-06  Caillette
4  154055.51  123696.46 -713.3  1.00e-06  Caillette
5  153706.50  124073.89 -726.7  1.00e-06  10 Paumes
6  153737.80  124071.08 -734.7  1.00e-06  10 Paumes
7  153762.25  124068.35 -740.1  1.00e-06  10 Paumes
8  153820.21  124076.31 -744.1  1.00e-06  10 Paumes
9  153875.73  124083.15 -746.5  1.00e-06  10 Paumes

create_orientation_from_surface_points(surface_points, indices)

In [29]:
for idx, row in gdf_points.iterrows():
    geo_model.add_orientations(row.geometry.x, row.geometry.y,row.geometry.z, surface=row.layer, pole_vector=(0, 0, 1))

In [30]:
geo_model.orientations

           X          Y      Z  G_x  G_y  G_z  smooth    surface
0  154154.58  123712.93 -715.2  0.0  0.0  1.0    0.01  Caillette
1  154110.91  123704.06 -714.4  0.0  0.0  1.0    0.01  Caillette
2  154095.96  123701.06 -714.1  0.0  0.0  1.0    0.01  Caillette
3  154082.62  123694.14 -713.8  0.0  0.0  1.0    0.01  Caillette
4  154055.51  123696.46 -713.3  0.0  0.0  1.0    0.01  Caillette
5  153706.50  124073.89 -726.7  0.0  0.0  1.0    0.01  10 Paumes
6  153737.80  124071.08 -734.7  0.0  0.0  1.0    0.01  10 Paumes
7  153762.25  124068.35 -740.1  0.0  0.0  1.0    0.01  10 Paumes
8  153820.21  124076.31 -744.1  0.0  0.0  1.0    0.01  10 Paumes
9  153875.73  124083.15 -746.5  0.0  0.0  1.0    0.01  10 Paumes

In [ ]:
gp.compute_model(geo_model)

In [ ]:
gp.plot_2d(geo_model, cell_number=5, legend='force')
gp.plot_3d(geo_model, kwargs_plot_structured_grid={'opacity': .2})